@import "./untils/colors";
@import "./untils/mixins";
@import "./components/header";
@import "./components/sell";
@import "./components/equity";
@import "./components/investment";
@import "./components/ownership";
@import "./components/unlock";
@import "./components/comma";
@import "./components/domiki";
@import "./components/bonus";
@import "./components/footer";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
