@import "./untils/colors";
@import "./untils/mixins";
@import "./components/header";
@import "./components/sell";
@import "./components/equity";
@import "./components/investment";
body {
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
