.header {
  display: flex;
  font-family: "Inter", sans-serif;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
}
.header__list {
  display: flex;
  list-style-type: none;
  gap: 32px;
  position: relative;
}
.header__link1, .header__link2, .header__link3, .header__link4, .header__link5, .header__link6 {
  text-decoration: none;
  color: #E4D8CC;
}
.header__link1 {
  position: relative;
}
.header__link1:hover::after {
  content: "";
  background-color: #E4D8CC;
  width: 124px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  top: 40px;
  left: 0;
  animation: link linear 0.3s;
}
.header__link2 {
  position: relative;
}
.header__link2:hover::after {
  content: "";
  background-color: #E4D8CC;
  width: 140px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  top: 40px;
  left: 0;
  animation: link2 linear 0.3s;
}
.header__link3 {
  position: relative;
}
.header__link3:hover::after {
  content: "";
  background-color: #E4D8CC;
  width: 74px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  top: 40px;
  left: 0;
  animation: link3 linear 0.3s;
}
.header__link4 {
  position: relative;
}
.header__link4:hover::after {
  content: "";
  background-color: #E4D8CC;
  width: 85px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  top: 40px;
  left: 0;
  animation: link3 linear 0.3s;
}
.header__div {
  display: flex;
  gap: 20px;
}
.header__link5 {
  position: relative;
}
.header__link5:hover::after {
  content: "";
  background-color: #E4D8CC;
  width: 125px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  top: 40px;
  left: 0;
  animation: link3 linear 0.3s;
}
.header__link6 {
  position: relative;
}
.header__link6:hover::after {
  content: "";
  background-color: #E4D8CC;
  width: 180px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  top: 40px;
  left: 0;
  animation: link3 linear 0.3s;
}
.header__span {
  display: none;
}

@keyframes link {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes link2 {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes link3 {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes link4 {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes link5 {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes link6 {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header__div {
    display: none;
  }
  .header__span {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 5px;
  }
  .header__span span {
    background-color: #E4D8CC;
    height: 3px;
    width: 30px;
  }
}
.back-image {
  background-image: url(../../images/back-image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sell {
  padding-top: 364px;
  padding-bottom: 116px;
}
.sell__h1 {
  color: #E4D8CC;
  font-size: 57px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
  width: 838px;
}
.sell__text {
  color: #C3BAB1;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}
.sell__container {
  display: flex;
  gap: 16px;
}
.sell__offer {
  background-color: #7837F3;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  padding: 14px 34px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  transition: transform ease 0.3s;
}
.sell__offer:hover {
  transform: scale(0.95);
  cursor: pointer;
  background-color: rgb(140, 85, 165);
}
.sell__work {
  background-color: rgba(228, 216, 204, 0.768627451);
  border: none;
  border-radius: 100px;
  color: #ffffff;
  padding: 14px 34px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  transition: transform ease 0.3s;
}
.sell__work:hover {
  transform: scale(0.95);
  cursor: pointer;
  background-color: rgba(141, 181, 207, 0.514);
}

@media (max-width: 768px) {
  .sell__container {
    flex-direction: column;
  }
}
.equity {
  background-color: #E7DFD8;
  display: flex;
  gap: 116px;
  padding-top: 75px;
  padding-bottom: 75px;
}
.equity__h1 {
  color: #101010;
  font-size: 54px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
  width: 507px;
}
.equity__text {
  color: #101010;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
  width: 452px;
}
.equity__img {
  -o-object-fit: fill;
     object-fit: fill;
}

@media (max-width: 768px) {
  .equity {
    flex-direction: column;
  }
}
.investment {
  display: flex;
  gap: 116px;
  background-color: #E7DFD8;
  padding-top: 125px;
  padding-bottom: 100px;
}
.investment__container {
  display: flex;
  gap: 12px;
}
.investment__elipse {
  border-radius: 100%;
  background-color: #B99FEA;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.investment__elipse span {
  color: #101010;
  font-size: 38px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
}
.investment__elipse:hover {
  background-color: rgb(196, 87, 211);
  cursor: pointer;
}
.investment__elipse:hover span {
  color: #E4D8CC;
}
.investment__today {
  color: #101010;
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
}
.investment__h1 {
  color: #101010;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
  width: 500px;
}
.investment__expand {
  position: relative;
}
.investment__expand::after {
  content: "";
  background-color: #101010;
  width: 95px;
  height: 2px;
  position: absolute;
  top: 30px;
  left: 0;
}
.investment__text {
  color: #101010;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.investment__text::after {
  content: url(../../images/arrow.svg);
  position: absolute;
  left: 70px;
  bottom: -5px;
}
.investment__current {
  color: #101010;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
  width: 494px;
}

@media (max-width: 768px) {
  .investment {
    flex-direction: column;
  }
}
.ownership {
  display: flex;
  gap: 116px;
  background-color: #E7DFD8;
  padding-top: 125px;
  padding-bottom: 100px;
}
.ownership__container {
  display: flex;
  gap: 12px;
}
.ownership__elipse2 {
  border-radius: 100%;
  background-color: #EBA789;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ownership__elipse2 span {
  color: #101010;
  font-size: 38px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
}
.ownership__elipse2:hover {
  background-color: rgb(211, 209, 87);
  cursor: pointer;
}
.ownership__elipse2:hover span {
  color: #E4D8CC;
}
.ownership__elipse2__today {
  color: #101010;
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
}
.ownership__elipse2__h1 {
  color: #101010;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
  width: 490px;
}
.ownership__elipse2__expand {
  position: relative;
}
.ownership__elipse2__expand::after {
  content: "";
  background-color: #101010;
  width: 95px;
  height: 2px;
  position: absolute;
  top: 30px;
  left: 0;
}
.ownership__elipse2__text {
  color: #101010;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.ownership__elipse2__text::after {
  content: url(../../images/arrow.svg);
  position: absolute;
  left: 70px;
  bottom: -5px;
}
.ownership__elipse2__current {
  color: #101010;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
  width: 495px;
}
@media (max-width: 768px) {
  .ownership .ownership {
    flex-direction: column;
  }
}

.unlock {
  display: flex;
  gap: 116px;
  background-color: #E7DFD8;
  padding-top: 125px;
  padding-bottom: 100px;
}
.unlock__container {
  display: flex;
  gap: 12px;
}
.unlock__elipse3 {
  border-radius: 100%;
  background-color: #96DBC6;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unlock__elipse3 span {
  color: #101010;
  font-size: 38px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
}
.unlock__elipse3:hover {
  background-color: rgb(87, 211, 153);
  cursor: pointer;
}
.unlock__elipse3:hover span {
  color: #E4D8CC;
}
.unlock__elipse3__today {
  color: #101010;
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
}
.unlock__elipse3__h1 {
  color: #101010;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
  width: 490px;
}
.unlock__elipse3__expand {
  position: relative;
}
.unlock__elipse3__expand::after {
  content: "";
  background-color: #101010;
  width: 95px;
  height: 2px;
  position: absolute;
  top: 30px;
  left: 0;
}
.unlock__elipse3__text {
  color: #101010;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.unlock__elipse3__text::after {
  content: url(../../images/arrow.svg);
  position: absolute;
  left: 70px;
  bottom: -5px;
}
.unlock__elipse3__current {
  color: #101010;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
  width: 485px;
}
@media (max-width: 768px) {
  .unlock .unlock {
    flex-direction: column;
  }
}

.comma {
  display: flex;
  justify-content: space-around;
  padding-top: 116px;
  padding-bottom: 115px;
}
.comma__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.comma__h3 {
  color: #E4D8CC;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
  width: 489px;
}
.comma__box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.comma__span {
  color: #E4D8CC;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
  width: 198px;
}

.house {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: #101010;
  padding-top: 118px;
  padding-bottom: 153px;
}
.house__h3 {
  color: #E4D8CC;
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.01em;
  font-family: "Inter", sans-serif;
}
.house__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding: 0;
}
.house__link {
  color: #B99FEA;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
}

.bonus {
  background-image: url(../../images/back-image2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 100px;
}
.bonus__span {
  color: #C3BAB1;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
}
.bonus__text {
  width: 580px;
  color: #E7DFD8;
  font-size: 48px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
}
.bonus__box__mission {
  position: relative;
}
.bonus__box__mission::after {
  content: "";
  background-color: #E4D8CC;
  width: 210px;
  height: 2px;
  position: absolute;
  top: 30px;
  left: 0;
}
.bonus__mission {
  color: #E7DFD8;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-family: "Inter", sans-serif;
}

.hr {
  background-color: #E4D8CC;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #101010;
}
.footer__section1 {
  display: flex;
  gap: 42px;
  padding: 70px 0 86px 0;
}
.footer__section1__text {
  color: #E4D8CC;
  font-size: 23px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  font-family: "Inter", sans-serif;
}
.footer__section1__button1 {
  background-color: #7837F3;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  padding: 9px 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  transition: transform ease 0.3s;
}
.footer__section1__button1:hover {
  transform: scale(0.95);
  cursor: pointer;
  background-color: rgb(140, 85, 165);
}
.footer__section1__button2 {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  padding: 9px 25px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  transition: transform ease 0.3s;
}
.footer__section1__button2:hover {
  transform: scale(0.95);
  cursor: pointer;
}
.footer__section2 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 120px;
}
.footer__section2__lists {
  display: flex;
  gap: 70px;
}
.footer__section2__h4 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: #E4D8CC;
  margin: 0;
}
.footer__section2__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.footer__section2__link {
  color: #E4D8CC;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration: none;
}
.footer__section2__packet {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer__section2__svg {
  width: 60;
  height: 55;
}
.footer__section2__text {
  color: #E4D8CC;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}
.footer__section3 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.footer__section3__text {
  color: #E4D8CC;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  .footer__section1 {
    flex-direction: column;
  }
  .footer__section2 {
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__section2__lists {
    flex-direction: column;
  }
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */