.equity {
  background-color: $backcolor;
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 75px;
  &__h1 {
    color: $black;
    @include font(54px, 400, 58px, 0%);
    font-family: "Inter", sans-serif;
  }
  &__text {
    color: $black;
    @include font(16px, 400, 22px, 0%);
    font-family: "Inter", sans-serif;
  }
}
